.container {
  width: 37.5em;
  height: 25em;
  border-radius: 1em;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: skyblue;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.butto {
  padding: 1em 2em;
  font-size: 1.2em;
  border: none;
  border-radius: 4px;
  font-family: cursive;
}
.butto:hover {
  background-color: darkgray;
}
